include ../../../mixins/section-title.pug
include ../../../mixins/button.pug
.cta.-style-1(style=`background-image: url("assets/images/cta/CTAOne/1.png")`)
  .container
    .row
      .col-12.col-md-6.mx-auto
        .cta__form
          +sectionTitle({title: 'Book Service'})
          form.cta__form__detail.validated-form(action="#")
            .input-validator
              input(type="text" placeholder="Your name" name="name" required)
            .input-validator
              input(type="text" placeholder="Your phone" name="phone" required)
            .input-validator
              select.customed-select.required(name="service")
                option(value="" hidden) Choose a services
                each item in ["Spa", "Salon", "Nail"]
                  option(value=item)= item
            .input-validator
              select.customed-select.required(name="date")
                option(value="" hidden) Choose a data
                each item in ["Yesterday", "Today", "Tomorow"]
                  option(value=item)= item
            +button({type: 'button', content: 'Appoitment', classname: '-light-red'})