.top-nav.-style-2
  .container
    .top-nav__wrapper
      .top-nav__wrapper__quick-links
        ul
          li
            a(href='about.html') About us
          li
            a(href='blog.html') Blog
          li
            a(href='contact.html') Contact
      p.top-nav-promo  Free shipping on international orders of $120+
      .top-nav-selections__item
        a.top-nav__auth(href='#') Login/Register
