link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;700;900&display=swap")
link(rel='shortcut icon', type='image/png', href='./assets/images/fav.png')
//build:css assets/css/styles.min.css
link(rel="stylesheet" href="assets/css/bootstrap.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css")
link(rel="stylesheet" href="assets/css/slick.min.css")
link(rel="stylesheet" href="assets/css/fontawesome.css")
link(rel="stylesheet" href="assets/css/jquery.modal.min.css")
link(rel="stylesheet" href="assets/css/bootstrap-drawer.min.css")
link(rel="stylesheet" href="assets/css/style.css")
//endbuild