.social-icons
  ul
    li
      a(href="#")
        i(class='fab fa-facebook-f')
    li
      a(href="#")
        i(class='fab fa-twitter')
    li
      a(href="#")
        i(class='fab fa-instagram')  
    li
      a(href="#")
        i(class='fab fa-youtube')