@font-face {
  font-family: "Braga";
  src: url("../fonts/BragaRegular.eot");
  src: url("../fonts/BragaRegular.eot") format("embedded-opentype"),
    url("../fonts/BragaRegular.woff") format("woff"),
    url("../fonts/BragaRegular.woff2") format("woff2"),
    url("../fonts/BragaRegular.ttf") format("truetype"),
    url("../fonts/BragaRegular.otf") format("opentype");
}
