include ../../../mixins/button.pug
.dow-one
  .dow-one__image
    img(src="assets/images/deal_of_week/DOWOne/1.png", alt="Dale of the week image")
  .dow-one__content
    h5 DEAL OF THE WEEK
    h3 Lip and liner duo
    #clock.dow-one__content__countdown
    +button({content: 'Shop now', classname: '-dark', href: "shop-fullwidth-4col.html"})