include ../../../mixins/button.pug
.dow-three
  .container
    .dow-three__content
      h5 Deal of the week
      h3 -30% of on creams
      #clock.dow-three__content__countdown
      +button({href: '#', classname: '-transparent -underline', content: 'Shop now'})
