.instagram-two
  .instagram-two-slider
    -var n = 1;
    while n < 7
      a.slider-item(href="https://www.instagram.com/")
        img(src=`assets/images/instagram/InstagramTwo/${n++}.png`, alt="Instagram image")