.instagram-one
  .instagram-one__background
    - var n = 1;
    while n < 8
      a.instagram-one__background__item(href='https://instagram.com/')
        img(src=`assets/images/instagram/InstagramOne/${n++}.png` alt='Instagram image')
  a.instagram-one__content(href='https://www.instagram.com/')
    i.fab.fa-instagram
    h5 Follow us on instagram
    p @Teliahshop
