.shop-header
  .shop-header__view
    .shop-header__view__icon
      a.active(href="#")
        i.fas.fa-th
      a(href="#")
        i.fas.fa-bars
    h5.shop-header__page Shop Fullwidth 4 Columns
  select.customed-select(name="#")
    option(value="az") A to Z
    option(value="za") Z to A
    option(value="low-high") Low to High Price
    option(value="high-low") High to Low Price