include ../../../mixins/navigator.pug
include ../../../mixins/menu-icon.pug
.menu.-style-1
  .container
    .menu__wrapper
      a.menu-logo(href="index.html")
        img(src="assets/images/logo.png", alt="Logo")
      +navigator
      +menuIcon