include ../../../mixins/navigator.pug
include ../../../mixins/menu-icon.pug
.menu.-style-4
  .container
    .menu__wrapper
      .navigator.-off-submenu
        ul
          li
            a(href='shop-fullwidth-4col.html') New
          li
            a(href='shop-fullwidth-4col.html') Face oil 
          li
            a(href='shop-fullwidth-4col.html') Serums
          li
            a(href='shop-fullwidth-4col.html') Masks
          li
            a(href='shop-fullwidth-4col.html') Body cream
          li
            a(href='shop-fullwidth-4col.html') Body wash
          li
            a(href='shop-fullwidth-4col.html') Sampoo
          li
            a(href='shop-fullwidth-4col.html') Hair gel
      +menuIcon({hide: ['cart']})