include ../../../mixins/navigator.pug
include ../../../mixins/menu-icon.pug
.menu.-style-3
  .container
    .menu__wrapper
      a(href="/index.html")
        img(src="assets/images/logo-white.png", alt="Logo")
      +navigator({classname: '-white'})
      +menuIcon({hide: ['search'], white: true})
