.footer-two
  .container
    .row
      .col-12.col-md-8.col-xl-6.mx-auto
        .footer-two__content
          a(href="/index.html").footer-two__content__logo
            img(src='assets/images/logo.png' alt='Logo')
          p.footer-two__content__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
          .subscribe-form.footer-two-newsletter
            .mc-form
              input(type="text" placeholder="Enter your email")
              button Subcribe
