extends base/layout.pug
block title
  title Homepage 5
block header
  include components/header/menu/menu-six.pug
block content
  include components/sections/slider/slider-one.pug
  include components/sections/introduction/introduction-six.pug
  include components/sections/introduction/introduction-seven.pug
  include components/sections/introduction/introduction-eight.pug
  include components/sections/testimonial/testimonial-two.pug
  include components/sections/call-to-action/cta-two.pug
  include components/footer/footer-two.pug