extends base/layout.pug
block title
  title Shop Full Width 5 Column
  -var isWideContainer = true;
block header
  include components/header/menu/menu-five.pug
block content
  +breadcrumb({title: 'Shop', children: '<li>Home</li><li class="active">Shop</li>'})
  .shop
    .container-full-half
      include components/shop/shop-header.pug
      .shop-products
        .shop-products__gird
          .row
            each item in PRODUCTS.slice(0,15)
              .five-col
                +product({data: item})
        .shop-products__list
          .row.mx-n1.mx-lg-n3
            each item in PRODUCTS.slice(0,15)
              .col-12.col-lg-6.col-lg-3.px-1.px-lg-3
                +product({data: item, type: 'list'})
      include components/other/paginator.pug
  include components/footer/footer-one.pug