include ../../../mixins/button.pug
.introduction-five(style="background-image: url('assets/images/introduction/IntroductionFive/1.png')")
  .container
    .introduction-five__content
      h2 New items are
        br
        |released weekly.
      +button({href:"shop-fullwidth-4col.html", content: 'All news items', classname: '-red'})