include ../../../mixins/button.pug
include ../../../mixins/section-title.pug
div(class='introduction-one')
  div(class='container')
    div(class='row align-items-center')
      div(class='col-12 col-md-6')
        div(class='introduction-one-image')
          div(class='introduction-one-image__detail')
            img(src='assets/images/introduction/IntroductionOne/img1.png' alt='background')
            img(src='assets/images/introduction/IntroductionOne/img2.png' alt='background')
          div(class='introduction-one-image__background')
            div(class='background__item')
              div(ref='{bg1}' class='wrapper')
                img(data-depth='0.5' src='assets/images/introduction/IntroductionOne/bg1.png' alt='background')
            div(class='background__item')
              div(ref='{bg2}' class='wrapper')
                img(data-depth='0.3' data-invert-x='' data-invert-y='' src='assets/images/introduction/IntroductionOne/bg2.png' alt='background')
      div(class='col-12 col-md-6')
        div(class='introduction-one-content')
          h5
            | ABOUT
            span  ELIAH
          +sectionTitle({title: 'When You Look Good </br> You Feel Good'})
          p The top three occupations in the Beauty salons Industry Group are Hairdressers, hairstylists, & cosmetologists, Manicurists and pedicurists, Receptionists & information clerks, Supervisors of personal care and service workers, and Skincare specialists.
          +button({classname:'-white', content:'Appointment', href:'#'})