include ../../../mixins/button.pug
.introduction-four
  .container
    .row
      .col-12
        .row
          .col-12.col-md-6.col-lg-4
            .introduction-four__item.-style-1
              .introduction-four__item__content
                h3 Meet
                  span trends
                h5 of the season
                +button({classname: 'btn -transparent -underline', content: 'Shop Now', href: 'shop-fullwidth-4col.html'})
              .introduction-four__item__image
                img(src="assets/images/introduction/IntroductionFour/1.png", alt="Meet trends of the season")
          .col-12.col-md-6.mx-auto
            .introduction-four__item.-style-2
              .introduction-four__item__content
                h3 Skin
                  span 2.0
                h5 Your regimen upgraded
                +button({classname: 'btn -transparent -underline', content: 'Shop Now', href: 'shop-fullwidth-4col.html'})
              .introduction-four__item__image
                img(src="assets/images/introduction/IntroductionFour/2.png", alt="Meet trends of the season")
      .col-12
        .row
          .col-12.col-md-6.col-lg-5
            .introduction-four__item.-style-1
              .introduction-four__item__content
                h3
                  span Alima
                h5 Matte Collection
                +button({classname: 'btn -transparent -underline', content: 'Shop Now', href: 'shop-fullwidth-4col.html'})
              .introduction-four__item__image
                img(src="assets/images/introduction/IntroductionFour/3.png", alt="Meet trends of the season")
          .col-12.col-md-6.ml-auto
            .introduction-four__item.-style-2
              .introduction-four__item__content
                h3 Up to
                  span 70%
                  | off
                h5 Limited time only
                +button({classname: 'btn -transparent -underline', content: 'Shop Now', href: 'shop-fullwidth-4col.html'})
              .introduction-four__item__image
                img(src="assets/images/introduction/IntroductionFour/4.png", alt="Meet trends of the season")