.slider.-style-5
  img.slider-background(src='assets/images/slider/SliderFive/1.png' alt='Slider background')
  .container
    .slider-content
      .slider-animation-wrapper
        h5.slider-content__subtitle.slider-one-title-enter-done Revitalizing Tan-Removal Mask
      .slider-animation-wrapper
        h1.slider-content__title.slider-one-subtitle-enter-done Lifting facial mask
      .slider-animation-wrapper
        p.slider-content__description.slider-one-description-enter-done
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .slider-animation-wrapper
        .slider-one-button-enter-done
          a.btn.-dark(href='/homepages/homepage1') More info